.jekyll-linkpreview-wrapper {
  display: flex;
  max-width: 100%;
  max-height: 160px;
  border: 1px solid #eee; /* 변경된 테두리 */
  border-radius: 8px; /* 둥근 모서리 */
  position: relative;
  overflow: hidden; /* 이미지 둥근 모서리 처리 */
}

.jekyll-linkpreview-wrapper-inner {
  padding: 15px;
  display: flex;
  width: 100%;
  align-items: start; /* 이미지와 텍스트 영역 세로 중앙 정렬 */
}

.jekyll-linkpreview-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 16px; /* 조정된 간격 */
}

.jekyll-linkpreview-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.jekyll-linkpreview-title {
  font-size: 16px; /* 조정된 제목 크기 */
  margin: 0 0 4px; /* 조정된 간격 */
  line-height: 1.4;
  font-weight: bold; /* 제목 굵게 */
}

.jekyll-linkpreview-description {
  line-height: 1.4;
  font-size: 13px;
  margin-bottom: 8px; /* 조정된 간격 */
  color: #888; /* 설명 색상 변경 */
}

.jekyll-linkpreview-footer {
  font-size: 12px;
  text-align: left;
  color: #555;
}

.jekyll-linkpreview-image {
  flex-shrink: 0;
  height: 160px; /* 이미지 높이 조정 */
  aspect-ratio: 16 / 10;
  overflow: hidden;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}